@model Finance.Models.Merret

@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.Mesazhi != null)
{
    <div class="alert alert-info">
        @ViewBag.Mesazhi
    </div>
}

<h1>Create</h1>

<h4>Merret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emer" class="control-label"></label>
                <input asp-for="Emer" class="form-control" />
                <span asp-validation-for="Emer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mbiemer" class="control-label"></label>
                <input asp-for="Mbiemer" class="form-control" />
                <span asp-validation-for="Mbiemer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shuma" class="control-label"></label>
                <input asp-for="Shuma" class="form-control" />
                <span asp-validation-for="Shuma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kodi" class="control-label"></label>
                <input asp-for="Kodi" class="form-control" />
                <span asp-validation-for="Kodi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
