@{
    ViewData["Title"] = "Home Page";
}
    <style>
       .nav {
        background-color: #F2F2F2;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .box {
        background-color: #ffffff;
        font-weight: bold;
        color: #00050d;
        border: 1px solid grey;
        margin: 3px;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    </style>
<img src="~/banner.jpg" height="400px" ; style="width:100%">
<h2 style=" margin-top: 20px; text-align: center;">Union Financiar Tiranë</h2>
<table style="width:100%; margin-top: 20px ; margin-bottom: 20px">
    <tr>
        <td style="width:47.5%">
            është agjenti i vetëm i Western Union Financial Services Inc. për Shqipërinë, që nga viti 1995.
            Me shërbime financiare të shpejta, të sigurta dhe të besueshme UFT operon në Shqipëri, Kosovë, Maqedoninë e Veriut, Kroaci 
            dhe Zvicër. Gjatë 29 viteve të aktivitetit tonë në Shqipëri, kemi mundësuar ngritjen e rrjetit më të gjerë të pikave të ofrimit të
          shërbimeve financiare anembanë vendit. Me mbi 750 agjenci Unionnet – Western Union ne mundësojme kryerjen e të gjitha 
          pagesave vetëm ne një sportel. Stafi ynë profesional e i devotshëm është në shërbimin tuaj çdo ditë të javës me orare 
          të përshtatshme. </td>
        <td style="width:5%"> </td>
        <td style="width:47.5%">
            Union Financiar Tiranë ka luajtur dhe vazhdon të ketë një rol themelor në zhvillimin e sektorit financiar shqiptar e më gjerë. 
            Në vitin 2006 UFT themelon Union Bank, si bankë me kapital 100% shqiptar dhe vetëm 6 vjet më vonë krijohet PayLink, një kompani 
            e teknologjisë dhe proçesimit të pagesave ndërbankare, po nga investimi 100% i UFT. Union Bank dhe PayLink janë vetëm një 
            pjesë e portofolit të Union Financiar Tiranë. UFT vazhdon kontributin dhe mbështetjen e nismave të tjera për zhvillim.
        </td>
    </tr>
</table>
<img src="~/banner1.png" height="400px" ; style="width:100%">
<table style="width:100%; margin-top: 20px">
    <tr>
        <td style="width:40%; background-color: #f8f4f4; padding: 15px 30px 20px 30px;">
            <a href="https://www.unionbank.al/" target="_blank">
                <img src="~/unionb.png" style="width:50%; display: block; margin: auto; margin-top: 30px"> <br />
            </a>


            Union Bank ushtron aktivitetin e saj prej Janar 2006, me marrjen e liçensës së lëshuar nga Banka e Shqipërisë për të ushtruar veprimtari bankare në Republikën e Shqipërisë.
            Union Bank, u themelua si një bankë private me kapital 100% shqiptar dhe lindi nga njëri prej institucioneve më të suksesshëm të sistemit financiar shqiptar – Union Financiar Tiranë.

            Vlerat dhe përvoja pozitive që UFT përçoi tek klientët e tij, bënë të mundur që Union Bank në një kohë mjaft të shkurtër të zgjeronte rrjetin e degëve në të gjithë territorin e Shqipërisë, duke hapur 31 degë të reja në 3 vjet dhe duke u bërë natyrshëm zgjedhja e preferuar e klientit shqiptar.

            Sot, Union Bank është një bankë shqiptare me aksioner kryesor UFT. Një pjesë e aksioneve të bankës zotërohen nga BERZH (Banka Evropiane për Rindërtim dhe Zhvillim).

        </td>
        <td style="width:20%;"></td>
        <td style="width:40%; background-color: #f8f4f4; padding: 15px 30px 20px 30px;">
            <a href="https://paylink.al/" target="_blank">
                <img src="~/paylink.png" style="width:40%; display: block; margin: auto;"><br />
            </a>


            PayLink është një kompani e teknologjisë dhe procesimit të pagesave për tregun financiar bankar. Fokusi strategjik është ofrimi i procesimit të pagesave dhe shërbimeve të personalizuara me efiçencë në kosto dhe në kohë procesimi; realizimi i produkteve inovative si karta debiti dhe krediti, karta të parapaguara, zgjidhje virtuale; dhe e-Commerce.

            PayLink përdor sistemet më të avancuara, fleksibël dhe inovativë në mbarë botën duke përmbushur nevojat e konsumatorëve të saj.

            PayLink u themelua në vitin 2012 me pjesëmarrjen e UFT si aksioner i vetëm.

        </td>
    </tr>
    <t>
        <td style="width:40%;">
            <img src="~/ndertesa.png" style="height:350px">
        </td>
        <td style="width:20%;"> </td>
        <td style="width:40%;">
            <img src="~/visa - Copy.png" style="height:350px">
        </td>
    </t r>
</table>

 
