@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Të dhënat personale që japin përdoruesit, përdoren vetëm për qëllimin e ofrimit të shërbimit ose 
    për plotësimin e kërkesës dhe i komunikohen ofruesit të shërbimit dhe palëve të treta, vetëm nëse nevojiten 
    për këtë qëllim, duke respektuar kërkesat e ligjit. <a href="~/Politika-e-Privatësisë-dhe-Siguria-e-Klientit-2 (1).pdf">
        Për më shumë informacion: </a>
</p>
